<div id="<%= dom_id service %>">
  <div>
    <strong>Name:</strong>
    <%= service.name %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= service.active %>
  </div>

  <div>
    <strong>Barbershop:</strong>
    <%= service.barbershop_id %>
  </div>

</div>
