<div id="<%= dom_id loyalty_program %>">
  <div>
    <strong>Required visits:</strong>
    <%= loyalty_program.required_visits %>
  </div>

  <div>
    <strong>Reward description:</strong>
    <%= loyalty_program.reward_description %>
  </div>

  <div>
    <strong>Barbershop:</strong>
    <%= loyalty_program.barbershop_id %>
  </div>

</div>
