<div id="<%= dom_id barbershop %>">
  <div>
    <strong>Name:</strong>
    <%= barbershop.name %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= barbershop.phone %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= barbershop.address %>
  </div>

</div>
