<h1>Minha barbearia</h1>
<div class="card"><div class="card-body">
<p><strong>Nome:</strong> <%= @barbershop.name %></p>
<p><strong>Telefone:</strong> <%= @barbershop.phone %></p>
<p><strong>Endereço:</strong> <%= @barbershop.address %></p>
<%= link_to "Editar", edit_barbershop_path, class: "btn btn-primary" %>
</div></div>
